{% extends "templates/custom_web.html" %}
{% block content %}
<style>
 .slider {
	display: flex;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0rem;
}
.item {
	animation: animate 85s linear infinite;
}
.item img
	{
		min-width: 200px;
		padding: 0 0px;
	}

@keyframes animate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-2800px, 0, 0);
	}
}
</style>



	
<!-- ============ ABOUT US SECTION START ========== -->
<section class="aboutwrap clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-12">
				<h1 class="wow fadeInDown">Connecting Companies, <br> <span>Empowering Success</span></h1>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">At 360 IT HUB, we are dedicated to simplifying the world of technology and making it more beneficial for businesses of all sizes in the dynamic technical landscape.</p>
			</div>
		</div>
	</div>
	<div class="w-100 mt-5  wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">
    <img src="assets/custom_app/360ithub/images/about-sucess.png" class="img-fluid" alt=""/> </div>	
</section> 
	
<!-- ============ YOUR BRNAD DIGITALLY SECTION START ========== -->
<section class="branddigitally clearfix">
	<div class="container">
		<h2 class="wow fadeInDown">We help <span>scale</span> your brand digitally</h2>
		<p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">Founded in the year 2017 in India, 360 IT HUB embarked on a journey with a vision to provide exceptional technology solutions to businesses across diverse sectors. From cutting-edge Mobile Application Development to robust ERP Implementation, Website Development &amp; Custom Web Applications to Cross-Platform Mobile Apps, and SEO Optimization to responsive UX/UI Design, we serve as your comprehensive partner in fueling your business growth.</p>
	</div>
</section>

<!-- ============ WE OFFER EXPERTISE SECTION START ========== -->
<section class="offerexpertise clearfix text-cente">
	<div class="container">
		<div class="maintitle">
			<h2 class="wow fadeInDown">We Offer <span>Expertise In</span></h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-12">
				<div class="cardOffer clearfix wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s">
					<center><img src="assets/custom_app/360ithub/images/custom-erp-solution.png" class="img-fluid" alt="Custom ERP  Solutions"/></center>
				  <h3>Custom ERP <br> Solutions</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="cardOffer clearfix wow slideInUp" data-wow-duration="2s" data-wow-delay="1s">
					<center><img src="assets/custom_app/360ithub/images/Mobile-Application-Development.png" class="img-fluid" alt="Mobile Application Development"/></center>
				  <h3>Mobile Application<br> Development</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="cardOffer clearfix wow slideInRight" data-wow-duration="2s" data-wow-delay="1s">
					<center><img src="assets/custom_app/360ithub/images/Customised-Website-Development.png" class="img-fluid" alt="Customised Website Development"/></center>
				  <h3>Customised Website<br> Development</h3>
				</div>
			</div>			
		</div>
	</div>
</section>	
	
<!-- ============ OUR TECHNOLOGY STACK START ========== -->
<section class="Ourtechnologystack clearfix">
	<div class="container">
		<div class="maintitle">
			<h2 class="wow fadeInDown">Our <span>Technology Stack</span></h2>
		</div>
		<ul>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo1.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="2s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo2.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo3.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="3s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo4.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo5.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="2s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo6.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo7.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="3s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo8.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo9.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="2s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo10.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="4s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo11.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo12.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo13.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="2s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo14.png" alt=""/></li>
			<li class="wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/custom_app/360ithub/images/stack/stack-logo15.png" alt=""/></li>
		</ul>
	</div>
</section>

<!-- ============ INNOVATIONS START ========== -->	
<section class="InnovationTabs clearfix">
	<div class="container">
  <div class="row wrap-feature41-box">
    <div class="col-lg-2 col-md-3 col-12">
      <ul class="nav vtab f41-tab">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
            <div class="display-5 t-icon"><i class="icon-Structure"></i></div>
            <div>
			  <span class="show"><img src="assets/custom_app/360ithub/images/innovation-active.svg" alt=""/></span>	
			  <span><img src="assets/custom_app/360ithub/images/innovation-icon.svg" alt=""/></span>
              Innovation
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">
            <div class="display-5 t-icon"><i class="icon-Brain-2"></i></div>
            <div>
			  <span class="show"><img src="assets/custom_app/360ithub/images/impact-active.svg" alt=""/></span>	
			  <span><img src="assets/custom_app/360ithub/images/impact-icon.svg" alt=""/></span>
              Impact
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="dropdown1-tab" data-toggle="tab" href="#dropdown1">
            <div class="display-5 t-icon"><i class="icon-Dollar-Sign"></i></div>
            <div>
			  <span class="show"><img src="assets/custom_app/360ithub/images/indep-active.svg" alt=""/></span>	
			  <span><img src="assets/custom_app/360ithub/images/indep-inactive.svg" alt=""/></span>	
              Independence
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 col-md-9 col-12">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
           <div class="row">
			   <div class="col-lg-6 col-md-6 col-12 align-self-center">
				   <h3 class="wow fadeInDown">Innovation</h3>
				   <p class="wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">At 360 IT HUB, we  thrive on innovation, fostering a culture of continuous exploration to stay on the cutting edge of technology. In the ever-evolving landscape of technology, at 360 IT HUB - we stay ahead of the curve and enable businesses like yours to adapt to change. We’re not just contributors but rather we empower you to push boundaries of what is really possible.</p>
			   </div>
			   <div class="col-lg-6 col-md-6 col-12">
		       <img src="assets/custom_app/360ithub/images/innovation.svg" class="img-fluid wow slideInRight" data-wow-duration="1s" data-wow-delay="1s" alt=""/> </div>
			</div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
          <div class="row">
			   <div class="col-lg-6 col-md-6 col-12 align-self-center">
				   <h3>Impact</h3>
				   <p>We create technological products that measure our success by the positive impact we create for our clients, partners at large. At 360 IT HUB every solution we provide is a testament to the impact we aim to make. We’re not just your software partner but we are a catalyst for your progress.</p>
			   </div>
			   <div class="col-lg-6 col-md-6 col-12">
		       <img src="assets/custom_app/360ithub/images/Impact.svg" class="img-fluid" alt=""/> </div>
			</div>
        </div>
        <div class="tab-pane fade" id="dropdown1" role="tabpanel"> 
          <div class="row">
			   <div class="col-lg-6 col-md-6 col-12 align-self-center">
				   <h3>Independence</h3>
				   <p>We encourage and empower business owners with the right technology and enable them to make decisions that drive excellence and innovation. At 360 IT HUB Our commitment is to equip them with the right tools, knowledge, and support, enabling you to make informed decisions that drive excellence. 
				</p>
			   </div>
			   <div class="col-lg-6 col-md-6 col-12">
		       <img src="assets/custom_app/360ithub/images/independence.svg" class="img-fluid" alt=""/> </div>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>	
	
<!-- ============ TEAM START ========== -->		
<section class="leadershipTeam clearfix">
	<div class="container">
		<div class="maintitle">
			<h2 class="wow fadeInDown">Our <span>Leadership Team</span></h2>
		</div>
		
		<div class="row flex-column-reverse flex-md-row">
			<div class="col-lg-9 col-md-9 col-12">
			  <h3 class="wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">MEET OUR <span>CEO</span></h3>
			  <p class="wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">Greetings! I'm Pankaj Sankhla, CEO and founder of 360 IT HUB Private Limited. With a strong educational background in B.Sc (IT) and MCA, I honed my skills as a Full Stack Java Developer at Thomson Reuters over a decade. Fueled by a passion for innovation, I established 360 IT HUB in August 2017.</p>
			  <p class="wow slideInUp" data-wow-duration="2s" data-wow-delay="1s">Today, I'm dedicated to steering 360 IT HUB to new heights of success. Our company is more than a business; it's a commitment to guiding organizations in diverse domains through digital transformation. Join us, where expertise meets innovation, and let's shape a digital future of unparalleled success together.</p>
			  <p class="wow slideInUp" data-wow-duration="3s" data-wow-delay="1s"><span>-Pankaj Sankhla <br>CEO</span></p>
			</div>
			<div class="col-lg-3 col-md-3 col-12">
		    <img src="assets/custom_app/360ithub/images/ceo-photo.png" class="img-fluid wow slideInRight"  data-wow-duration="4s" data-wow-delay="1s" alt=""/> </div>
		</div>
		
  </div>
</section>	
<section class="cfoteam clearfix">
	<div class="container">
	  <div class="row">
			<div class="col-lg-3 col-md-3 col-12">
		    	<img src="assets/custom_app/360ithub/images/cpo-team.png" class="img-fluid wow slideInLeft"  data-wow-duration="4s" data-wow-delay="1s" alt=""/>
			</div>
			<div class="col-lg-9 col-md-9 col-12">
			  <h3 class="wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">MEET OUR <span>CFO</span></h3>
			  <p class="wow slideInUp" data-wow-duration="2s" data-wow-delay="1s">Hello, I am Lokesh Sankhla, the Chief Financial Officer at 360 IT HUB. At 360 IT HUB, we believe in financial stewardship that aligns with our commitment to innovation and excellence. As a key member of the leadership team, I am dedicated to ensuring sound financial strategies that support our growth and sustainability.</p>
			  <p class="wow slideInUp" data-wow-duration="3s" data-wow-delay="1s">Our financial practices are rooted in transparency, accountability, and a strategic vision for the future. By maintaining a robust financial foundation, we empower 360 IT HUB to navigate challenges and seize opportunities in the dynamic landscape of the tech industry.</p>
			  <p class="wow slideInUp" data-wow-duration="4s" data-wow-delay="1s"><span>-Lokesh Sankhla<br>CFO</span></p>
			</div>
		</div>
  </div>
</section>	
	
<!-- ============ OUR EXPERTS START ==========
<section class="teammember clearfix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-4 col-12">
				<div class="memberwrap clearfix wow slideInUp" data-wow-duration="2s" data-wow-delay="1s">
					<div class="member-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/ramachandra.png" class="img-fluid" alt=""/></div>
					<h3>Ramachandra Sankhla</h3>
					<p>CFO</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="memberwrap clearfix wow slideInUp" data-wow-duration="4s" data-wow-delay="1s">
					<div class="member-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/ChandraSankhla.png" class="img-fluid" alt=""/></div>
					<h3>Chandra  Sankhla</h3>
					<p>Executive</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="memberwrap clearfix wow slideInUp" data-wow-duration="6s" data-wow-delay="1s">
					<div class="member-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/GayatriSankhla.png" class="img-fluid" alt=""/></div>
					<h3>Gayatri Sankhla</h3>
					<p>Executive</p>
				</div>
			</div>
		</div>
	</div>
</section>	 -->
	
<!-- ============ OUR EXPERTS START ========== -->
<!-- <section class="OurExperts clearfix">
	<div class="container">
		<div class="maintitle">
			<h2>Our <span>Experts</span></h2>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-6">
			  <div class="teamcard clearfix wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">
					<div class="team-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/pratichi.png" class="img-fluid" alt=""/></div>
					<div class="teamindent text-center">
						<h3>Pratichi Swain</h3>
						<p>HR Executive</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-6">
			  <div class="teamcard clearfix wow slideInUp" data-wow-duration="2s" data-wow-delay="1s">
					<div class="team-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/MohanRaj.png" class="img-fluid" alt=""/></div>
					<div class="teamindent text-center">
						<h3>Mohan Raj V</h3>
						<p>ERP Next Developer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-6">
			  <div class="teamcard clearfix wow slideInUp" data-wow-duration="3s" data-wow-delay="1s">
					<div class="team-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/Andrew.png" class="img-fluid" alt=""/></div>
					<div class="teamindent text-center">
						<h3>Andrew</h3>
						<p>ERP Next Developer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-6">
			  <div class="teamcard clearfix wow slideInUp" data-wow-duration="4s" data-wow-delay="1s">
					<div class="team-thumb"><img src="assets/custom_app/360ithubassets/custom_app/360ithub//images/team/Bhuvankumar.png" class="img-fluid" alt=""/></div>
					<div class="teamindent text-center">
						<h3>Bhuvan kumar</h3>
						<p>Jr UI/UX Designer</p>
					</div>
				</div>
			</div>
		</div>
  </div>
</section>	 -->

<!-- ============ LIFE 360 IT HUB START ========== -->
<section class="LifeIThub clearfix">
	<div class="maintitle">
		<h2 class="wow fadeInDown"><span>Life@360ithub</span></h2>
	</div>
	<div class="slider">
		<div class="item"><img src="assets/custom_app/360ithub/images/team/life00.png" alt="Image 1" height="378px"></div>
		<div class="item"><img src="assets/custom_app/360ithub/images/team/Life1.png" alt="Image 2" height="378px"></div>
		<div class="item"><img src="assets/custom_app/360ithub/images/team/life2.png" alt="Image 3" height="378px"></div>
		<!--<div class="item"><img src="assets/custom_app/360ithub/images/team/Life360.png" alt="Image 4" height="378px"></div>-->
		<div class="item"><img src="assets/custom_app/360ithub/images/team/life3.png" alt="Image 5" height="378px"></div>
		<!--<div class="item"><img src="assets/custom_app/360ithub/images/team/Life5.png" alt="Image 6" height="378px"></div>-->
		<!--<div class="item"><img src="assets/custom_app/360ithub/images/team/Life6.png" alt="Image 7" height="378px"></div>-->
		<!--<div class="item"><img src="assets/custom_app/360ithub/images/team/life7.png" alt="Image 7" height="378px"></div>-->
	  </div>
	<!-- <div class="tech-slideshow">
		<div class="mover-1">
			<img src="assets/custom_app/360ithub/images/team/Life@360.png" alt="" height="378">
		</div>
	  </div> -->
	<!-- <div class="slider lifegallery">
		
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery1.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery2.jpg" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery3.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery4.png" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery6.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery6.png" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery4.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery5.jpg" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery7.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery8.jpg" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery10.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery9.jpg" class="img-fluid" alt=""/></div>
		</div>
		<div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery11.jpg" class="img-fluid" alt=""/></div>
			<div class="w-100"><img src="assets/custom_app/360ithubassets/custom_app/360ithub/images/team/life-gallery12.jpg" class="img-fluid" alt=""/></div>
		</div>
	</div> -->
	
</section>	
	
<!-- ============ HAVE A QUESTION START ========== -->
<section class="haveaQuestion clearfix text-center">
	<div class="container">
		<h2>Have a question? <span>We are here to answer</span></h2>
		<!-- <a href="#" class="btn btn-white" data-target="#demoPopup">Book a Demo</a> -->
		<a href="https://wa.link/0s43xm" class="btn btn-white" target="_blank">
			<i class="fa fa-whatsapp" style="color: #00aeef;"></i> <span>Chat with us</span>
		  </a>
	</div>
</section>	


<!-- ====================Whatsapp Floating============ -->
 <div class="whatsappdesk"><a href="https://wa.me/919513777001" target="_blank" class="whatsapp-color"><i class="fa fa-whatsapp"></i></a></div>

<div id="main-div">
  <div id="main-button" class="wave">
	<i class="fa fa-comments fa-times"></i>
  </div>
  <a href="tel:+919513777001" class="telegram-color"><i class="fa fa-phone" aria-hidden="true"></i></a>
  <a href="mailto:hello@360ithub.com?cc=sales@360ithub.com" class="messenger-color"><i class="fa fa-envelope"></i></a>
</div>	

<!-- ============ FOOTER START ========== -->




<script>
	document.addEventListener('DOMContentLoaded', function () {
		var demoBtns = document.querySelectorAll('.btn[data-target="#demoPopup"]');
		var callbackBtns = document.querySelectorAll('.btn[data-target="#callbackPopup"]');
		var closeButtons = document.querySelectorAll('.popup .close');


	// PSCODE STARTS

	// PSCODE ENDS

		// Add click event listener to all buttons that should trigger the demo popup
		demoBtns.forEach(function (btn) {
			btn.addEventListener('click', function (event) {
				event.preventDefault();
				document.getElementById('demoPopup').style.display = 'flex';
			});
		});

		// Add click event listener to all buttons that should trigger the callback popup
		callbackBtns.forEach(function (btn) {
			btn.addEventListener('click', function (event) {
				event.preventDefault();
				document.getElementById('callbackPopup').style.display = 'flex';
			});
		});

		// Add click event listener to all close buttons in popups
		closeButtons.forEach(function (btn) {
			btn.addEventListener('click', function (event) {
				event.preventDefault();
				document.getElementById('demoPopup').style.display = 'none';
			});
		});
	});
</script>
{% endblock %}