{% extends "templates/custom_web.html" %}
{% block content %}
	
<!-- ============  Terms and Conditions START ========== -->
<section class="termsCondition clearfix">
	<div class="container">
		<h1>Privacy Policy</h1>
		<h2>Privacy Policy for 360 IT Hub</h2>
		<p>At 360 IT HUB, we value your privacy and are dedicated to safeguarding your personal information. This privacy policy elucidates the methods by which we collect, utilize, and disclose your personal data when you engage with our website and services.</p>
		<h3>Information Collection</h3>
		<p>At 360 IT HUB, we gather personal information when you interact with our website or utilize our services. This includes details like your name, email address, phone number, and any additional information you share with us. Additionally, for analytical purposes, we may collect non-personal information such as your IP address and browser type.</p>
		<h3>Information Use</h3>
		<p>When you utilize our website or services, we gather personal information from you, encompassing details like your name, email address, phone number, and any additional information you furnish. Additionally, for analytical purposes, we may collect non-personal information, such as your IP address and browser type.</p>
		<h3>Information Disclosure</h3>
		<p>Your personal information is not traded or shared with third parties for marketing purposes. It may be disclosed to our service providers, aiding us in delivering our services to you. Furthermore, disclosure of your personal information may occur when mandated by law or essential to safeguard our rights.</p>
		<h3>Data Security</h3>
		<p>We employ necessary steps to safeguard your personal information from unauthorized access, disclosure, and misuse. Utilizing security measures that meet industry standards, we ensure the protection of your personal information.</p>
		<h3>Your Rights</h3>
		<p>You are entitled to access, rectify, and delete any of your personal information that we have gathered. Additionally, you have the right to express objections to the processing of your personal information and impose restrictions on its usage. To avail yourself of these rights, kindly get in touch with us at the provided address below.</p>
		<h3>Contact Us</h3>
		<p>Should you have any inquiries regarding this privacy policy or our practices concerning privacy, please feel free to reach out to us via the following email address: <a href="#">Hello@360ithub.com</a></p>
		<h3>Changes to the Privacy Policy</h3>
		<p>This privacy policy is subject to periodic updates, and any modifications will be made available on our website. We encourage you to routinely check our website for any revisions to the privacy policy.</p>
	</div>
</section>  
 
<!-- ====================Whatsapp Floating============ -->
 <div class="whatsappdesk"><a href="https://wa.me/919513777001" target="_blank" class="whatsapp-color"><i class="fa fa-whatsapp"></i></a></div>

<div id="main-div">
  <div id="main-button" class="wave">
	<i class="fa fa-comments fa-times"></i>
  </div>
  <a href="tel:+919513777001" class="telegram-color"><i class="fa fa-phone" aria-hidden="true"></i></a>
  <a href="mailto:hello@360ithub.com" class="messenger-color"><i class="fa fa-envelope"></i></a>
</div>		
	
<!-- ============ FOOTER START ========== -->

<!-- JavaScript	-->
<script type="text/javascript" src="assets/custom_app/360ithub/js/jquery-1.11.1.min.js"></script> 
<script type="text/javascript" src="assets/custom_app/360ithub/js/popper.min.js"></script> 
<script type="text/javascript" src="assets/custom_app/360ithub/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/custom_app/360ithub/js/slick.js"></script> 
<script type="text/javascript" src="assets/custom_app/360ithub/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/custom_app/360ithub/js/custom.js"></script>  	
{% endblock %}
